<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <p>
        <label>
            First Name
            <input type="text" name="f_name">
    <p>
        <label>
            Last Name
            <input type="text" name="l_name">
        </label>
    </p>
    <p>
        <label>
            Address
            <input type="text" name="address">
        </label>
    </p>
    <p>
        <label>
            Phone Number
            <input type="tel" name="p_number">
        </label>
    </p>
    <p>
            Address
            <input type="submit" value="submit">
    </p>
</form>
</body>
</html>